.event-form {
  padding: 1rem 1rem;

  width: 100%;

  @include flex-setting(column, flex-start, center);

  &__wrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 1px dashed #979797;
    margin-bottom: 1rem;
  }

  &__description {
    max-width: 154px;

    padding-top: 60px;

    @include font-setting($base-font, 0.563rem, 1.3, 400, #979797);
    text-align: center;

    margin-top: 0;
    margin-bottom: 0.625rem;

    position: relative;

    &::after {
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
      content: '';

      width: 40px;
      height: 37px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='37' viewBox='0 0 40 37'%3E%3Cg%3E%3Cg clip-path='url(%23clip-7F62AF88-0024-4DB2-B715-256A69D7946C)'%3E%3Cpath fill='%23979797' d='M32.451 9.756a11.646 11.646 0 0 0-3.602-6.662A11.471 11.471 0 0 0 21.054.04c-2.232 0-4.406.645-6.268 1.862a11.565 11.565 0 0 0-3.75 3.98 6.584 6.584 0 0 0-1.214-.115c-3.488 0-6.327 2.863-6.327 6.38 0 .456.05.894.132 1.325A8.904 8.904 0 0 0 0 20.63c0 2.293.845 4.519 2.388 6.282 1.583 1.804 3.676 2.871 5.907 2.995h7.122c.616 0 1.108-.496 1.108-1.116 0-.621-.492-1.118-1.108-1.118H8.394c-3.356-.207-6.179-3.426-6.179-7.05a6.644 6.644 0 0 1 3.258-5.711 1.13 1.13 0 0 0 .484-1.357 4.09 4.09 0 0 1-.246-1.424c0-2.284 1.846-4.146 4.11-4.146.485 0 .96.083 1.404.248a1.11 1.11 0 0 0 1.386-.57c1.535-3.286 4.85-5.405 8.451-5.405 4.841 0 8.837 3.658 9.297 8.508.05.504.427.91.919.993 3.651.628 6.408 4.03 6.408 7.912 0 4.112-3.208 7.687-7.163 7.994h-6.047c-.615 0-1.108.496-1.108 1.117 0 .62.493 1.117 1.108 1.117h6.17c2.503-.182 4.841-1.34 6.58-3.277a10.358 10.358 0 0 0 2.675-6.951c-.008-4.644-3.15-8.773-7.45-9.915'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23979797' d='M26.672 21.702a1.086 1.086 0 0 0 0-1.555l-5.89-5.821A1.132 1.132 0 0 0 20 14c-.288 0-.577.114-.782.326l-5.89 5.82a1.086 1.086 0 0 0 0 1.556c.214.211.502.325.782.325s.568-.105.783-.325l3.995-3.949v18.148c0 .61.494 1.099 1.112 1.099.618 0 1.112-.488 1.112-1.1V17.754l3.995 3.949a1.108 1.108 0 0 0 1.565 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  &__input + label {
    @include font-setting($base-font, 0.75rem, 1, 700, #fff);
    @include flex-setting(column, center, center);
    text-transform: uppercase;

    box-shadow: 0px 0px 0px 2px rgba(190,230,238,0.12), inset 0 -3px 3px #bee6ee, inset 0 3px 3px #bee6ee;
    border-radius: 8px;
    background-color: #bee6ee;

    width: 144px;
    height: 32px;

    margin-bottom: 1.125rem;

    cursor: pointer;
    outline: none;
  }

  &__submit {
    width: 144px;
    height: 32px;

    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 2px rgba(92,209,76,0.12), inset 0 -3px 3px rgba(74, 180, 60, 0.6), inset 0 3px 3px rgba(123, 247, 106, 0.6);

    background-color: #5cd14c;
    cursor: pointer;
    outline: none;

    @include font-setting($base-font, 0.875rem, 1, 700, #fff);
    @include flex-setting(column, center, center);

    text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 1440px) {
  .event-form {
    padding: 1.25rem 1.25rem;

    &__wrapper {
      margin-bottom: 1rem;
    }

    &__description {
      max-width: 220px;

      padding-top: 100px;

      font-size: 0.75rem;
      text-align: center;

      margin-top: 0;
      margin-bottom: 1.25rem;

      position: relative;

      &::after {
        top: 16px;

        width: 80px;
        height: 74px;
      }
    }

    &__input + label {
      font-size: 1rem;
      border-radius: 10px;

      width: 200px;
      height: 42px;
    }

    &__submit {
      width: 200px;
      height: 42px;


      font-size: 1.125rem;
    }
  }
}
