html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px !important;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

body {
  background-color: #ff9da9;

  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  font-family: $base-font;

  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.body--time {
  background-color: #f8e234;
}

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.popup-image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;

  &__bg {
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  &__pic {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 999;
    max-height: 70%;
    max-width: 70%;
  }
}
