.reg-list {
  width: 100%;

  @include flex-setting(column, flex-start, flex-start);

  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    width: 100%;

    @include flex-setting(column, flex-start, flex-start);

    margin-bottom: 1rem;
    position: relative;

    &--agreement,
    &--policy {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__error {
    position: absolute;

    @include font-setting($base-font, 0.25rem, 1, 400, #c23131);
    bottom: -0.5rem;

    &--required {
      left: 1.25rem;
    }
  }

  &__note {
    width: 16px;
    height: 16px;

    position: absolute;

    top: 17px;
    right: 0;

    &--correct {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='pp6ca'%3E%3Cpath fill='%23fff' d='M0 16V0h16v16zm8-1A7 7 0 1 0 8 1a7 7 0 0 0 0 14z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg clip-path='url(%23clip-F8524E20-0155-474A-AEEB-2058EDC7C0E6)'%3E%3Cpath fill='%235cd14c' d='M11.682 4.126c-.345-.214-.83-.148-1.082.144L6.685 8.826l-1.303-1.4c-.266-.285-.753-.333-1.088-.109-.335.224-.392.638-.128.922L6.734 11l5.117-5.956c.252-.294.177-.704-.17-.918'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='none' stroke='%235cd14c' stroke-miterlimit='50' stroke-width='2' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14z' clip-path='url(&quot;%23pp6ca&quot;)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--error {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='druca'%3E%3Cpath fill='%23fff' d='M0 16V0h16v16zm8-1A7 7 0 1 0 8 1a7 7 0 0 0 0 14z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg%3E%3Cg%3E%3Cpath fill='none' stroke='%23c23131' stroke-miterlimit='50' stroke-width='2' d='M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14z' clip-path='url(&quot;%23druca&quot;)'/%3E%3C/g%3E%3Cg clip-path='url(%23clip-538A5BC1-7893-4540-AF5B-16530024E2F5)'%3E%3Cpath fill='%23c23131' d='M7.993 3.04c-.565 0-.993.344-.993.9v5.098c0 .556.428.9.993.9.551 0 .993-.358.993-.9V3.94c0-.543-.442-.9-.993-.9'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='%23c23131' d='M8 11c-.551 0-1 .449-1 1a1.001 1.001 0 1 0 1-1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__label {
    @include font-setting($base-font, 0.563rem, 1, 400, rgba(0, 0, 0, 0.55));

    margin-bottom: 0.25rem;

    &--checkbox,
    &--link {
      font-size: 0.5rem;
      color: #000;
      text-decoration: none;
    }
  }

  &__input {
    width: 100%;
    max-width: 216px;

    border: 1px solid #a6a6a6;

    @include font-setting($base-font, 0.875rem, 1, 400, #000);

    padding: 0.188rem 0.5rem;

    cursor: text;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      border-color: #5cd14c;
      transition: 0.1s ease-in;
    }
  }

  &__checkbox + label {
    @include checkbox-default;
  }

  &__checkbox + label::before {
    @include custom-checkbox;
  }

  &__checkbox:checked + label::after {
    @include checkbox-checked;
    transition: 0.1s ease-in;
  }
}
